[Desktop Entry]
Categories=Development;IDE;
Comment=Python IDE for professional developers
Exec="/home/philip/.local/share/JetBrains/Toolbox/apps/PyCharm-P/ch-0/191.7479.30/bin/pycharm.sh" %f
Icon=/home/philip/.local/share/JetBrains/Toolbox/apps/PyCharm-P/ch-0/.icon.svg
Name=PyCharm Professional
StartupWMClass=jetbrains-pycharm
Terminal=false
Type=Application
Version=1.0
X-XFCE-Source=file:///home/philip/.local/share/applications/jetbrains-pycharm.desktop
